<h4> Thank you for your order! Here is a summary of your purchase </h4>
<h4> Quantity <%= @order.quantity %></h4>
<h4> Order_id <%= @order.id %></h4>
<h4> Subtotal <%= @order.subtotal %></h4>
<h4> Tax <%= @order.tax %></h4>
<h4> Total <%= @order.total %></h4>

 <a href="/products"> Back to all products</a>