  <h4><%= @product.name %></h4>
  <h4>Supplier: <%= @product.supplier.name %></h4> 
  <h4>Categories: <%= @product.printable_category_names %></h4>
  <h4> Price:$ <%= @product.price %></h4>
  <h4>Tax:$ <%= @product.tax %></h4>
  <h4>Total:$ <%= @product.total %></h4>
  <%= image_tag(@product.image) %>
  <h4><%= @product.description %></h4>
  <h4><%= @product.sale_message %><h4>
  <%= link_to "Edit this recipe", "/products/#{@product.id}/edit" %>
  <%= link_to "Delete this recipe", "/products/#{@product.id}", method: :delete %>
  <a href="/products"> Back to all products</a>

  <%= form_tag '/cartedproducts', method: :post do %>
  <div>
   <%= label_tag :quantity%>
   <%= text_field_tag :quantity %>
  </div> 
  <div>
   <%= hidden_field_tag :product_id, @product.id %>
  </div> 
  <div>
   <%= submit_tag "Add to Cart" %>
<% end %>  